$navbar-brand-height: auto !default;
$navbar-padding-y: 1.25rem !default;
$navbar-nav-link-padding-x: .95rem !default;

$dark: #090022;
$primary: #6f2fab;
$font-family-sans-serif: "Inter", "Roboto", "Segoe UI", sans-serif;
$hr-border-color: rgba($color: #000, $alpha: .25) !default;
$lead-font-weight: 400;
$btn-font-weight: 600;
$headings-font-weight: 600;
$display1-weight: 700;
$display2-weight: $display1-weight;
$display3-weight: $display1-weight;
$display4-weight: $display1-weight;
$display5-weight: $display1-weight;
$display6-weight: $display1-weight;

.main-footer {
  h5 {
    margin-bottom: 1rem;
  }
  .footer-links {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
    }
  }
  hr {
    background: rgba($color: #fff, $alpha: .25)!important;
  }
}
.bg-soft {
  background-color: rgba($color: $primary, $alpha: .07)!important;
}
.fill-soft {
  fill: #eff1f5;
}
.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}
.w-100 {
  width: 100%;
}

div.icon {
  display: inline-flex;
  @media screen and (min-width: 1024px) {
    background: rgba($color: $primary,$alpha: .15);
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    padding: .75rem;
    svg {
      color: $primary;
      width: 60px;
      height: 60px;
    }
  }
  @media screen and (max-width: 1023px) {
    background: rgba($color: $primary,$alpha: .15);
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    padding: .75rem;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
.shipping-rates {
  &::after {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @media screen and (min-width: 1024px) {
      height: 100px;
    }
    content: "";
  }
  &-content {
    position: relative;
    z-index: 20;
    background: #fff;
    box-shadow: 0 3px 4px 0 rgba($color: #000, $alpha: .1);
    border-radius: .75rem;
  }
  .form-group {
    label {
      font-weight: 500;
    }
    margin: 0;
    .form-control {
      border: none!important;
      padding: 0;
      outline: none!important;
      box-shadow: none!important;
    }
  }
  .btn {
    --calcer: 10px;
    --calbot: 5px;
    margin-top: var(--calcer);
    margin-bottom: var(--calbot);
    height: calc(100% - var(--calcer) - var(--calbot));
  }
}
